@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-btn {
  transition: all 0.3s ease;
}

@keyframes slideOut {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#image.slide-out {
  animation: slideOut 0.7s ease-in-out;
}
